<div class="l-side">
  <ul class="mypage-nav-list">
    <%= link_to(mypage_path) do %>
      <li class="mypage-nav-list-item">マイページ<p>></p></li>
    <% end %>
    <%= link_to('#') do %>
      <li class="mypage-nav-list-item">お知らせ<p>></p></li>
    <% end %>
    <%= link_to('#') do %>
      <li class="mypage-nav-list-item">いいね一覧<p>></p></li>
    <% end %>
    <%= link_to(new_item_path) do %>
      <li class="mypage-nav-list-item">出品する<p>></p></li>
    <% end %>
    <%= link_to('#') do %>
      <li class="mypage-nav-list-item">出品した商品-出品中<p>></p></li>
    <% end %>
    <%= link_to('#') do %>
      <li class="mypage-nav-list-item">出品した商品-売却済み<p>></p></li>
    <% end %>
    <%= link_to('#') do %>
      <li class="mypage-nav-list-item">購入した商品<p>></p></li>
    <% end %>
  </ul>
  <h3 class= "mypage-nav-head">設定</h3>
  <ul class="mypage-nav-list">
  <%= link_to('#') do %>
      <li class="mypage-nav-list-item">プロフィール<p>></p></li>
    <% end %>
    <%= link_to('#') do %>
      <li class="mypage-nav-list-item">メール・パスワード<p>></p></li>
    <% end %>
    <%= link_to(destroy_user_session_path(@user), method: :delete) do %>
      <li class="mypage-nav-list-item">ログアウト<p>></p></li>
    <% end %>
  </ul>
</div>

